<br/>
<br/>
<br/>

<h1> Team 3-10 Estimate Part Labor</h1><br>
<h3>Team Members</h3>
Boppishetty Vineetha<br>
Kappara Renu
<br><br><br>
<h2>Team Responsibilities</h2>
We are responsible for implementing the part labour under requirement set 10.<br>
We displayed the cost of the labor and the details of how each person's labor cost is estimated and we can perform various CRUD(Create,Read,Update,Delete)operations.

<br/>
<br/>