<br/>
<br/>
<br/>
<h1>Roofing Materials (Team 03-13) </h1>
<br>
<h3><b><u>Team Members</u></b></h3>
<ol>
<li>Gajula, Vineeth</li>
<li>Emani, Venkata Sainath Reddy</li>
</ol><br>
<h3><b><u>Team Responsibilities</u></b></h3>
<p>We both worked together by implementing Roofing Primers,Basecoats,Topcoats under requirement set 13.<br><br>
Above mentioned Roofing Materials will display the description about the products and we can perform various CRUD(Create,Read,Update,Delete) operations.
</p>
<br/>
<br/>