
<h1>
   Waterproofing Estimates
   <a href="/waterproofingEstimate/create" class="btn btn-primary pull-right">
   Create new waterproofing estimate
   </a>
</h1>
<% if (Object.keys(waterproofingEstimates).length) { %>
<% include index.ejs %>}
<% } else { %>
No estimates! <a href="/waterproofingEstimate/create">Add one!</a>
<% } %>
