<br/>
<br/>
<br/>
<h2>404! Page not found. This should be improved....</h2>
When debugging:
<ol>  
<li>Verify the URI above. Is this the correct URI? </li>
<li>If not, look in the view file where you took the action. Ensure the URI is being built correctly. </li>
<li>If the URI is correct, verify it is going to the correct controller, and this controller is handling the URI request. </li>
<li>Finally, debug the logic in the controller method. </li>
</ol>
<br/>
<br/>
