</br>
</br>
<hr>
</br>
<footer class="footer">
<div class="container">
 <p>&copy; NWMSU Web Apps Team Fall 2016</p>
<p class="text-muted">Get the code at <a href="https://bitbucket.org/56316f3/jce3">bitbucket.org/professorcase/jce3</a></p>
</div>
</footer>
<!-- This model is managed by Team 3-4
Abhinav Ekka
Pradeep Vunnam
//-->