</br>
</br>
<hr>
</br>
<footer class="footer">
<div class="container">
 <p>&copy; NWMSU Web Apps Team Fall 2016</p>
<p class="text-muted">Get the code at <a href="https://bitbucket.org/56316f3/jce3">bitbucket.org/56316f3/jce3</a></p>
</div>
</footer>

<!--This is managed by team 03-06-->	
<!--Sangaraju SunilKumar-->
<!--Kuchana Deepak-->
<!--Pothireddy SubbaReddy-->
