<div class="container">
	<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
				<a class="navbar-brand" href="/">JCE-9</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/flooringEstimate">Flooring</a></li>
					<li><a href="/roofingEstimate">Roofing</a></li>
					<li><a href="/waterproofingEstimate">Waterproofing</a></li>
					<li class="dropdown">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materials <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#!">Roofing <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/roofingPrimer">Primers</a></li>
									<li><a href="/roofingBasecoat">Base coats</a></li>
									<li><a href="/roofingTopcoat">Top coats</a></li>
								</ul>
							</li>
							<li><a href="/flooringCoating">Flooring</a></li>
							<li class="dropdown-submenu">
								<a href="#!">Waterproofing <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/waterproofingPrimer">Primers</a></li>
									<li><a href="/waterproofingBasecoat">Base coats</a></li>
									<li><a href="/waterproofingTopcoat">Top coats</a></li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
							<li><a href="/aggregate">Aggregate</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Parts) <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/estimatePartAbout">About</a></li>
							<li><a href="/estimatePartFootage">Square Footage</a></li>
							<li><a href="/estimatePartFlooring">Flooring</a></li>
							<li><a href="/estimatePartRoofing">Roofing</a></li>
							<li><a href="/estimatePartWaterproofing">Waterproofing</a></li>
							<li><a href="/estimatePartAggregate">Aggregate</a></li>
							<li><a href="/estimatePartLabor">Labor</a></li>
							<li><a href="/estimatePartMileage">Mileage</a></li>
							<li><a href="/estimatePartMisc">Miscellaneous</a></li>
						</ul>
					</li>
					<!-- <li><a href="/">Prospects</a></li> -->
					<!-- <li><a href="/">Clients</a></li> -->
					<li class="dropdown">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="/about/t1">Team 1 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t1/a">Ajay</a></li>
									<li><a href="/about/t1/b">Bhanu</a></li>
									<li><a href="/about/t1/c">Chandra</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t2">Team 2 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="about/t2/a">George</a></li>
									<li><a href="about/t2/b">Harsha</a></li>
									<li><a href="about/t2/c">Ingrid</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t3">Team 3 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t3/a">Marley</a></li>
									<li><a href="/about/t3/b">Nicky</a></li>
									<li><a href="/about/t3/c">Olive</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t4">Team 4 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t4/a">Sana</a></li>
									<li><a href="/about/t4/b">Taylor</a></li>
									<li><a href="/about/t4/c">Una</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t5">Team 5 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t5/a">Alexis</a></li>
									<li><a href="/about/t5/b">Bert</a></li>
									<li><a href="/about/t5/c">Casey</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t6">Team 6 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t6/a">Avery</a></li>
									<li><a href="/about/t6/b">Harper</a></li>
									<li><a href="/about/t6/c">Ira</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t7">Team 7 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t7/a">Divya</a></li>
									<li><a href="/about/t7/b">Eshan</a></li>
									<li><a href="/about/t7/c">Frankie</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t8">Team 8 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t8/a">Jayesh</a></li>
									<li><a href="/about/t8/b">Kent</a></li>
									<li><a href="/about/t8/c">Lakshay</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t9">Team 9 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t9/a">Posh</a></li>
									<li><a href="/about/t9/b">Quip</a></li>
									<li><a href="/about/t9/c">Riya</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t10">Team 10 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t10/a">Vinny</a></li>
									<li><a href="/about/t10/b">Wes</a></li>
									<li><a href="/about/t10/c">Zara</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t11">Team 11 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t11/a">Danny</a></li>
									<li><a href="/about/t11/b">Ernie</a></li>
									<li><a href="/about/t11/c">Fritz</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t12">Team 12 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t12/a">Jiya</a></li>
									<li><a href="/about/t12/b">Keya</a></li>
									<li><a href="/about/t12/c">Logan</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t13">Team 13 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t13/a">Danny</a></li>
									<li><a href="/about/t13/b">Ernie</a></li>
									<li><a href="/about/t13/c">Fritz</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t14">Team 14 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t14/a">Jiya</a></li>
									<li><a href="/about/t14/b">Keya</a></li>
									<li><a href="/about/t14/c">Logan</a></li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-submenu">
								<a href="/about/t15">Mentors <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://denisecase.github.io">Denise Case</a></li>
									<li><a href="/about/t15/q">Zhengrui Qin</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="/about/t15/a">Neha Ankam</a></li>
									<li><a href="/about/t15/b">Sreekanth Bandaru</a></li>
									<li><a href="/about/t15/e">Rathnakar Ettedi</a></li>
									<li><a href="/about/t15/k">Pushkar Kanikicherla</a></li>
									<li><a href="/about/t15/m">Harika Malempati</a></li>
									<li><a href="/about/t15/p">Bhavana Pilli</a></li>
									<li><a href="/about/t15/r">Harsha Rachakunta</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
</div>