<div class="container">
	<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
				<a class="navbar-brand" href="/">JCE-3</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/flooringEstimate">Flooring</a></li>
					<li><a href="/roofingEstimate">Roofing</a></li>
					<li><a href="/waterproofingEstimate">Waterproofing</a></li>
					<li class="dropdown">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materials <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#!">Roofing <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/roofingPrimer">Primers</a></li>
									<li><a href="/roofingBasecoat">Base coats</a></li>
									<li><a href="/roofingTopcoat">Top coats</a></li>
								</ul>
							</li>
							<li><a href="/flooringCoating">Flooring</a></li>
							<li class="dropdown-submenu">
								<a href="#!">Waterproofing <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/waterproofingPrimer">Primers</a></li>
									<li><a href="/waterproofingBasecoat">Base coats</a></li>
									<li><a href="/waterproofingTopcoat">Top coats</a></li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
							<li><a href="/aggregate">Aggregate</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/mileageRate">Default Mileage Rate ($/mile)</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Parts) <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/estimatePartAbout">About</a></li>
							<li><a href="/estimatePartFootage">Square Footage</a></li>
							<li><a href="/estimatePartFlooring">Flooring</a></li>
							<li><a href="/estimatePartRoofing">Roofing</a></li>
							<li><a href="/estimatePartWaterproofing">Waterproofing</a></li>
							<li><a href="/estimatePartAggregate">Aggregate</a></li>
							<li><a href="/estimatePartLabor">Labor</a></li>
							<li><a href="/estimatePartMileage">Mileage</a></li>
							<li><a href="/estimatePartMisc">Miscellaneous</a></li>
						</ul>
					</li>
					<!-- <li><a href="/">Prospects</a></li> -->
					<!-- <li><a href="/">Clients</a></li> -->
					<li class="dropdown">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="/about/t1">Team 1 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t1/a">Madadi, Vipul Reddy</a></li>
									<li><a href="/about/t1/b">Mandapati, Avinash Varma</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t2">Team 2 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="about/t2/a">Goda, Sai Narasimha Kumara Raja</a></li>
									<li><a href="about/t2/b">Linga, Balamani Sandeep</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t3">Team 3 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t3/a">Poodipeddi, Venkata Prasant</a></li>
									<li><a href="/about/t3/b">Yarlagadda, Phani Lakshman</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t4">Team 4 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t4/a">Ekka, Abhinav</a></li>
									<li><a href="/about/t4/b">Vunnam, Pradeep</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t5">Team 5 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t5/a">Nayeni, Sai Rama Rao</a></li>
									<li><a href="/about/t5/b">Pati, AjithReddy</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t6">Team 6 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t6/a">Kuchana, Deepak</a></li>
									<li><a href="/about/t6/b">Pothireddy, Subba Reddy</a></li>
									<li><a href="/about/t6/c">Sangaraju, Sunil Kumar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t7">Team 7 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t7/a">Morugadi, Aditya Sreeram Reddy</a></li>
									<li><a href="/about/t7/b">Peddireddy, Tarun</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t8">Team 8 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t8/a">Bhogaraju, Prasanthi Rani</a></li>
									<li><a href="/about/t8/b">Vanaparthi, Mani Vikash</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t9">Team 9 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t9/a">Ghimire, Upashana</a></li>
									<li><a href="/about/t9/b">Yelamanchili, Chandan Srinivas</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t10">Team 10 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t10/a">Boppishetty, Vineetha</a></li>
									<li><a href="/about/t10/b">Kappara, Renu Rajeshwari</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t11">Team 11 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t11/a">Pochampally, Abhilash</a></li>
									<li><a href="/about/t11/b">Verma, Monish</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t12">Team 12 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t12/a">Mallidi, Anudeep Reddy</a></li>
									<li><a href="/about/t12/b">Yalala, Anoop Kumar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t13">Team 13 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t13/a">Gajula, Vineeth</a></li>
									<li><a href="/about/t13/b">Emani, Venkata Sainath Reddy</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="/about/t14">Team 14 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/about/t14/a">Kuppagiri, Durga Bhavani</a></li>
									<li><a href="/about/t14/b">Vegesna, Navyatha</a></li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-submenu">
								<a href="/about/t15">Mentors <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://denisecase.github.io">Denise Case</a></li>
									<li><a href="http://www.nwmissouri.edu/csis/directory/qin.htm">Zhengrui Qin</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="/about/t15/a">Neha Ankam</a></li>
									<li><a href="/about/t15/b">Sreekanth Bandaru</a></li>
									<li><a href="/about/t15/e">Rathnakar Ettedi</a></li>
									<li><a href="/about/t15/k">Pushkar Kanikicherla</a></li>
									<li><a href="/about/t15/m">Harika Malempati</a></li>
									<li><a href="/about/t15/p">Bhavana Pilli</a></li>
									<li><a href="/about/t15/r">Harsha Rachakunta</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
</div>