<div class="container">
	<!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
				<a class="navbar-brand" href="/">JCE-9</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/flooringEstimate">Flooring</a></li>
					<li><a href="/roofingEstimate">Roofing</a></li>
					<li><a href="/waterproofingEstimate">Waterproofing</a></li>
					<li class="dropdown">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materials <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#!">Roofing <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/roofingPrimer">Primers</a></li>
									<li><a href="/roofingBasecoat">Base coats</a></li>
									<li><a href="/roofingTopcoat">Top coats</a></li>
								</ul>
							</li>
							<li><a href="/flooringCoating">Flooring</a></li>
							<li class="dropdown-submenu">
								<a href="#!">Waterproofing <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/waterproofingPrimer">Primers</a></li>
									<li><a href="/waterproofingBasecoat">Base coats</a></li>
									<li><a href="/waterproofingTopcoat">Top coats</a></li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
							<li><a href="/aggregate">Aggregate</a></li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Parts) <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/estimatePartAbout">About</a></li>
							<li><a href="/estimatePartFootage">Square Footage</a></li>
							<li><a href="/estimatePartFlooring">Flooring</a></li>
							<li><a href="/estimatePartRoofing">Roofing</a></li>
							<li><a href="/estimatePartWaterproofing">Waterproofing</a></li>
							<li><a href="/estimatePartAggregate">Aggregate</a></li>
							<li><a href="/estimatePartLabor">Labor</a></li>
							<li><a href="/estimatePartMileage">Mileage</a></li>
							<li><a href="/estimatePartMisc">Miscellaneous</a></li>
						</ul>
					</li>
					<!-- <li><a href="/">Prospects</a></li> -->
					<!-- <li><a href="/">Clients</a></li> -->
					<li class="dropdown">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#!">Team 1 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Ajay</a></li>
									<li><a href="#!">Bhanu</a></li>
									<li><a href="#!">Chandra</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 2 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">George</a></li>
									<li><a href="#!">Harsha</a></li>
									<li><a href="#!">Ingrid</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 3 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Marley</a></li>
									<li><a href="#!">Nicky</a></li>
									<li><a href="#!">Olive</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 4 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Sana</a></li>
									<li><a href="#!">Taylor</a></li>
									<li><a href="#!">Una</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 5 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Alexis</a></li>
									<li><a href="#!">Bert</a></li>
									<li><a href="#!">Casey</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 6 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Avery</a></li>
									<li><a href="#!">Harper</a></li>
									<li><a href="#!">Ira</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 7 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Divya</a></li>
									<li><a href="#!">Eshan</a></li>
									<li><a href="#!">Frankie</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 8 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Jayesh</a></li>
									<li><a href="#!">Kent</a></li>
									<li><a href="#!">Lakshay</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 9 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Posh</a></li>
									<li><a href="#!">Quip</a></li>
									<li><a href="#!">Riya</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 10 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Vinny</a></li>
									<li><a href="#!">Wes</a></li>
									<li><a href="#!">Zara</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 11 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Danny</a></li>
									<li><a href="#!">Ernie</a></li>
									<li><a href="#!">Fritz</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 12 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Jiya</a></li>
									<li><a href="#!">Keya</a></li>
									<li><a href="#!">Logan</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 13 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Danny</a></li>
									<li><a href="#!">Ernie</a></li>
									<li><a href="#!">Fritz</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#!">Team 14 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#!">Jiya</a></li>
									<li><a href="#!">Keya</a></li>
									<li><a href="#!">Logan</a></li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-submenu">
								<a href="#!">Mentors <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://denisecase.github.io">Denise Case</a></li>
									<li><a href="#!Qin">Zhengrui Qin</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#!">Neha Ankam</a></li>
									<li><a href="#!">Sreekanth Bandaru</a></li>
									<li><a href="#!">Rathnakar Ettedi</a></li>
									<li><a href="#!">Pushkar Kanikicherla</a></li>
									<li><a href="#!">Harika Malempati</a></li>
									<li><a href="#!">Bhavana Pilli</a></li>
									<li><a href="#!">Harsha Rachakunta</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
</div>