<% include shared\header %>
<h2>Write a new entry</h2>
<form method="post" role="form">
<% include shared\fg-title %>
<% include shared\fg-footage %>
<% include shared\fg-aggregate %>
<% include shared\fg-labor %>
<% include shared\fg-mileage %>
<% include shared\fg-misc %>
<% include shared\fg-comment %>
<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary">
</div>
</form>
<% include shared\footer %>