
<% console.log(estimatePartFootages.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartFootages.query.length %> entries. <br/>
<a href="create.ejs">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>SqFt</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartFootages.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartFootages.query[i].sqft %></td>
            <td>Delete  Details  Edit</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
