<br/>
<br/>
<h2>Details for Aggregate Parts estimate</h2>
<br/>
<br/>
<p>Item
	<%=  estimatePartAggregates._id %>
</p>
<p>
	<%=  estimatePartAggregates.name %>
</p>
<p>
	<%=  estimatePartAggregates.price %> per
		<%=  estimatePartAggregates.unit %>
</p>
<br/>
<form method="get" action="/estimatePartAggregates">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>