<br/>
<br/>
<h2>Details for mileage rate</h2>
<br/>
<br/>
<p>Item
	<%=  mileageRate._id %>
</p>
<p>
	<%=  mileageRate.startDate %>
</p>
<p>
	<%=  mileageRate.dollarsPerMile %>
</p>
<br/>
<form method="get" action="/mileageRate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>