<br/>
<br/>
<% 
date = new Date(mileageRate.startDate);
dateString = date.toISOString().substring(0,10);
%>

<h2>Edit default mileage rate</h2>
<div class="content">
	<div>
		<form method="POST" action="/mileageRate/save/<%= mileageRate._id %>">

			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= mileageRate._id %>" required disabled>
			</div>

			<div class="form-group">
				<label for="startDate">Start Date</label>
				<input type="date" class="form-control" id="startDate" name="startDate" value="<%= dateString %>" required min="2014-01-01">
			</div>

			<div class="form-group">
				<label for="dollarsPerMile">Dollars Per Mile ($USD)</label>
				<input type="number" class="form-control" id="dollarsPerMile" name="dollarsPerMile" value="<%= mileageRate.dollarsPerMile %>"
					required>
			</div>

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br/>
		<form method="get" action="/mileageRate">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>