
<h2>Create a new roofing estimate</h2>
<form method="post" role="form">
<% include ..\estimateparts\fg-about %>
<% include ..\estimateparts\fg-footage %>
<% include ..\estimateparts\fg-roofing %>
<% include ..\estimateparts\fg-aggregate %>
<% include ..\estimateparts\fg-labor %>
<% include ..\estimateparts\fg-mileage %>
<% include ..\estimateparts\fg-misc %>
<% include ..\estimateparts\fg-comment %>
<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-danger">
</div>
</form>
