<br/>
<br/>
<br/>
<h1>Pradeep Vunnam</h1>
<h2>Graduate Student</h2>
<ul>
	<li><h3>I am a graduate student at Northwest Missouri State University.</h3></li>
	<li><h3>I worked as an Systems-Analyst in development for Verizon for last 2 years.</h3></li>
	<li><h3>I intersested in the field of computer sciences and data sciences.</h3></li>
</ul>
<br/>
<br/>