<<<<<<< HEAD
<<<<<<< HEAD
<!-- This model is managed by Team 3-5
 AjithReddy Pati
Sai Rama Rao Nayeni -->
=======
=======
<br/>

<br/>
<h2>Create a new estimate Part Flooring</h2>
<p>There are currently
	<%= estimatePartFloorings.query.length %> estimate Part Floorings. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<estimatePartFloorings.query.length; i++) {
    if(estimatePartFloorings.query[i]._id > maxID) {
        maxID=estimatePartFloorings.query[i]._id;
        }
}
maxSubtotal=0; 
for (var i=0; i<estimatePartFloorings.query.length; i++) {
    if(estimatePartFloorings.query[i].subtotal > maxSubtotal) {
        maxSubtotal=estimatePartFloorings.query[i].subtotal;
        }
}
%>
	<p>The largest ID is
		<%= maxID %>. </p>
	<p>The largest Subtotal is
		<%= maxSubtotal %>. </p><br/>
	<div class="content">
		<div>
			<form name="estimatePartFlooring" method="POST" action="/estimatePartFlooring/save" + _id.value>

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>

				<div class="form-group">
					<label for="floorSystemType">Floor System Type</label>
					<input type="text" class="form-control" id="floorSystemType" name="floorSystemType" value="Epoxy" required>
				</div>

				<div class="form-group">
					<label for="usesUrethane">UsesUrethane</label>
					<input type="boolean" class="form-control" id="usesUrethane" name="usesUrethane" value="false" required>
				</div>

				<div class="form-group">
					<label for="urethaneProductSelection">urethaneProductSelection</label>
					<input type="text" class="form-control" id="urethaneProductSelection" name="urethaneProductSelection" value="abcd">
				</div>

				<div class="form-group">
					<label for="urethaneCoverageSqFt">urethaneCoverageSqFt</label>
					<input type="number" class="form-control" id="urethaneCoverageSqFt" name="urethaneCoverageSqFt" value="0">
				</div>

				<div class="form-group">
					<label for="usesEpoxy">usesEpoxy</label>
					<input type="boolean" class="form-control" id="usesEpoxy" name="usesEpoxy" value="false" required>
				</div>

				<div class="form-group">
					<label for="expoxyProductSelection">expoxyProductSelection</label>
					<input type="text" class="form-control" id="expoxyProductSelection" name="expoxyProductSelection" value="abcd">
				</div>

				<div class="form-group">
					<label for="expoxyCoverageSqFt">expoxyCoverageSqFt</label>
					<input type="number" class="form-control" id="expoxyCoverageSqFt" name="expoxyCoverageSqFt" value="0" required>
				</div>

				<div class="form-group">
					<label for="subtotal">Subtotal</label>
					<input type="text" class="form-control" id="subtotal" name="subtotal" value="0" required>
				</div>


				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/estimatePartFlooring">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>
>>>>>>> 4d854f7b679ec52f1e5f3e0bab914072771e8dbc

<!--This  model is managed by Team 3-5
 Sai Rama Rao Nayeni
 AjithReddy Pati -->
<<<<<<< HEAD
>>>>>>> 6cda3bd03c20768ee40c5dbf7e1609ecff8140d6
=======


>>>>>>> 19b6c2412aa9d4a52d073c20848a27e43ad217dc
