<div class="form-group">
<label for="usesAggregate">Uses Aggregate?</label>
<input type="checkbox" class="form-control" id="usesAggregate" name="usesAggregate" >
</div>
<div class="form-group">
<label for="aggregateTypeSelection">Aggregate Type</label>
<div class="funkyradio">
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="Sand" checked/>
            <label for="Sand">Sand</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name="radio" id="Quartz" />
            <label for="Quartz">Quartz</label>
        </div>
        <div class="funkyradio-warning">
            <input type="radio" name="radio" id="Flake" />
            <label for="Flake">Flake</label>
        </div>
        <div class="funkyradio-danger">
            <input type="radio" name="radio" id="Glass" />
            <label for="Glass">Glass Beads</label>
        </div>
    </div>
</div>