<div class="form-group">
<label for="client">Client</label>
<input type="text" class="form-control" id="client" name="client" placeholder="Client" required>
</div>
<div class="form-group">
<label for="city">City</label>
<input type="text" class="form-control" id="city" name="city" placeholder="City" required>
</div>