<div class="form-group">
<label for="comment">Comment</label>
<textarea class="form-control" id="comment" name="comment" placeholder="Great client - looking forward to this job!" rows="3" required></textarea>
</div>