<div class="form-group">
<label for="subtotal">Flooring-specific materials subtotal</label>
<input type="number" class="form-control" id="subtotal" name="subtotal" min=0 max=500000 required default=0>
</div>
