<div class="col-xs-6">
<div class="form-group">
<label for="description">Miscellaneous</label>
<input type="text" class="form-control" id="description" name="description" placeholder="Description" required>
</div></div>
<div class="col-xs-6">
<div class="form-group">
<label for="cost">Cost</label>
<input type="number" class="form-control" id="cost" name="cost" min=0 max=500000 required>
</div></div>