			</div>

			<div class="form-group">
				<label for="state">State</label>
				<input type="text" class="form-control" id="state" name="state" value="<%= estimatePartAbout.state %>"
					required>
			</div>

            <div class="form-group">
				<label for="zipcode">ZipCode</label>
				<input type="number" class="form-control" id="zipcode" name="zipcode" value="<%= estimatePartAbout.zipcode %>"
					required>
			</div>

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br/>
		<form method="get" action="/estimatePartAbout">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>

<!--  This model is managed by Team 5-08
Arun Kumar Kona
Naga Rahul Tejas Konkepudi
-->