<br/>
<br/>
<br/>
<h1>TEAM 03-05-EstimatePartFlooring</h1>
<h2>Team Members</h2>

<h4>Ajith Reddy Pati </h4>
<h4>Sai Rama Rao Nayeni</h4>
<h2>Team Responsibilities</h2>
<p> 
<p>we both had worked together in calculating the flooring cost based on the material type selected</p>
<br/>
here we are performing CRUD operations like :create,delete,details and edit  based on id selected

<br/>
<br/>