
<h2>Create a new flooring estimate</h2>

<p>There are currently
	<%= flooringEstimates.query.length %>Flooring Estimates. </p>
<br/>
<% 
    maxID=0; 
    for (var i=0; i<flooringEstimates.query.length; i++) {
        if(flooringEstimates.query[i]._id > maxID) {
            maxID=flooringEstimates.query[i]._id;
            }
    }
%>
<!--<form method="post" role="form">-->
<form name = "flooringEstimate" method="POST" action="/flooringEstimate/save/"+ _id.value">
    <div class="form-group" id=frm>
        <label for="_id">ID</label>
        <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>

<% include ..\estimateparts\fg-about %>
<% include ..\estimateparts\fg-footage %>
<% include ..\estimateparts\fg-flooring %>
<% include ..\estimateparts\fg-aggregate %>
<% include ..\estimateparts\fg-labor %>
<% include ..\estimateparts\fg-mileage %>
<% include ..\estimateparts\fg-misc %>
<% include ..\estimateparts\fg-comment %>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary" />
</div>
</form>

<!-- This model is managed by Team 3-01
 Avinash varma Mandapati
 Vipul Reddy Madadi
-->