<br/>
<br/>
<h2>Details for Aggragate Materials</h2>
<br/>
<br/>
<p>Item
	<%=  aggregateMaterial._id %>
</p>
<p>
	<%=  aggregateMaterial.name %>
</p>
<p>
	<%=  aggregateMaterial.price %> per
		<%=  aggregateMaterial.unit %>
</p>
<br/>
<form method="get" action="/aggregate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>


	<!-- This view is managed by team 3-12 -->
<!--  Anoop kumar Yalala -->
<!-- Anudeep Reddy Mallidi  -->