<br/>
<br/>
<h2>New Estimate Part Miscellaneous</h2>
<br/>
<br/>
<form method="POST" action="/estimatePartMisc/save/">
<table class="table table-hover table-bordered">
    <tr><th>ID</th> <td> <input type="number" class="form-control" value="<%= newID %>" name="_id"  /></td></tr>
	<tr><th>Description</th> <td><input type="text" class="form-control" name="description" >  </input></td></tr>
	<tr><th>Cost $</th> <td><input type="number" class="form-control" name="cost" > </input></td></tr>
	<!-- <tr><th>Dollars Per Mile</th> <td><input type="text" value="<%= estimatePartMiscs.query[0].dollarsPerMile %>"> </input></td></tr> -->
	<tr><td colspan="2"> 
		<div class="row">
			<div class="col-md-2"> 
				<form method="get" action="/estimatePartMisc">
				<input type="submit" value="Return to list" class="btn btn-caution" />
				</form>
			</div>
			<div class="col-md-5"> 
				
					<button type="submit"  class="btn btn-primary pull-right" >Create entry</button>
				
			</div>
		</div>
		</td>
	</tr>
</table>
</form>

<!--This view is managed by Team 5-11
Monish Verma
Abhilash Pochampally
-->