<br/>
<br/>
<h1>Details of Estimate Part Miscellaneous</h1>
<br/>
<table class="table table-hover" border="1">
	<thead>
		<th>Item ID : </th>
		<th> Description : </th>
		<th> Cost : </th>
	</thead>
	<tbody>
		<tr>
			<td> <%=  estimatePartMisc._id %> </td>
			<td> <%=  estimatePartMisc.description %></td>
			<td> $<%=  estimatePartMisc.cost %> </td>
		</tr>
	</tbody>
</table>
<br/>
<form method="get" action="/estimatePartMisc">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<!--This view is managed by Team 5-11
Monish Verma
Abhilash Pochampally
-->